.row.post
  .title
    %h3= post.title
    %small.actions
      %span.glyphicon.glyphicon-time
      %span #{post.created_at.strftime("%Y-%m-%d")}
      - if current_user
        .pull-right
          =link_to edit_post_path(post) do
            %span.glyphicon.glyphicon-edit
          =link_to post_path(post), method: :delete, :data => { :confirm => 'Do you really want to delete this post?' } do
            %span.glyphicon.glyphicon-remove
  .content
    = raw post.html