.row.post
  .title
    %h3= post.title
    %small.actions
      .action
        %span.glyphicon.glyphicon-time
        %span= date post.created_at
      .action
        = tags(post)
      - if current_user
        .pull-right
          =link_to edit_post_path(post) do
            %span.glyphicon.glyphicon-edit
          =link_to post_path(post), method: :delete, :data => { :confirm => t('posts.delete_post') } do
            %span.glyphicon.glyphicon-remove
  .content
    = raw post.html