- content_for :jumbotron do
  Administer Posts
.col-md-12.content
  %table.table.table-striped
    %tr
      %th Post
      %th Published
      %th
      %th

    - @posts.each do |post|
      %tr
        %td= post.title
        %td= date post.created_at
        %td
          =link_to edit_post_path(post) do
            %span.glyphicon.glyphicon-edit
        %td
          =link_to post_path(post), method: :delete, :data => { :confirm => 'Do you really want to delete this post?' } do
            %span.glyphicon.glyphicon-remove
