- content_for :jumbotron do
  =t 'posts.administer'
.col-md-12.content
  %table.table.table-striped
    %tr
      %th=t 'posts.post'
      %th=t 'posts.published'
      %th
      %th

    - @posts.each do |post|
      %tr
        %td= post.title
        %td= date post.created_at
        %td
          =link_to edit_post_path(post) do
            %span.glyphicon.glyphicon-edit
        %td
          =link_to post_path(post), method: :delete, :data => { :confirm => t('posts.delete_post') } do
            %span.glyphicon.glyphicon-remove
