.navbar-header.offset2
  %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
/ Collect the nav links, forms, and other content for toggling
.collapse.navbar-collapse.navbar-ex1-collapse
  %ul.nav.navbar-nav
    %li
      =link_to root_path do
        %span.glyphicon.glyphicon-home 
        Home
    - if user_signed_in?
      %li
        =link_to new_post_path do
          %span.glyphicon.glyphicon-plus-sign 
          New post
      %li
        =link_to posts_path do
          %span.glyphicon.glyphicon-list 
          Manage posts
  %ul.nav.navbar-nav.pull-right
    - if user_signed_in?
      %li
        = link_to edit_user_registration_path do
          %span.glyphicon.glyphicon-user
          Edit account
      %li
        = link_to destroy_user_session_path, :method=>'delete' do
          %span.glyphicon.glyphicon-ban-circle
          Logout
    - else
      %li
        = link_to new_user_session_path do
          %span.glyphicon.glyphicon-user
          Login

/ /.navbar-collapse