.row
  %h3=t 'tags.talking_about'
  .list-group
  - if tags.empty?
    = t 'tags.empty_collection'
  - else
    - tags.each do |tag|
      %a.list-group-item{href: tag_path(escape(tag.name))}
        %span.badge= tag.count
        %h4.list-group-item-heading= tag